doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="styles/dice.css")
        link(href="styles/fonts.css", rel="stylesheet")
        title 3D Dice animation by strukteon
        meta(name="description" content="What does playing around with mojs and pug result in? That's right, a 3d dice animation!")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="UTF-8")
        meta(http-equiv="content-language" content="en")

    body
        script(src="script.bundle.js" defer)

        h1.title Dice

        .dice-wrapper
            .dice-container
                .dice
                    - for (let i = 1; i <= 6; i++) {
                        div(class=["side", "side-" + i])
                            - for (let j = 0; j < i; j++) {
                                .dot
                            - }
                    - }
                    .side-inner
                    .side-inner
                    .side-inner

        button.start-anim Roll